name: Spring Boot CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin' # [temurin, zulu, corretto, microsoft] -  official document

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2

      - name: Run tests
        working-directory: ./community
        run: ./gradlew clean test --stacktrace

      - name: Build with Gradle
        working-directory: ./community
        run: ./gradlew build -x test
